h1{
	font-family:$text-font-roboto;
	color: $white;
	font-weight: $regular;
	font-size: $xx-large;
}

h2{
	font-family:$text-font-roboto;
	color: $white;
	font-weight:$regular;
	font-size:$x-large;
	text-transform: uppercase; 
}

h3{
	font-family:$text-font-roboto;
	color:$RaisinBlack;
	font-weight:$regular;
	font-size:$large; 
}

h4{
	font-family:$text-font-roboto;
	color:$RaisinBlack;
	font-weight:$regular;
	font-size:$medium; 
}

p{
	color:$Nickel;
	font-weight:$regular;
	font-size:$large;
}




